In [1]:
'''
CREATE TABLE IF NOT EXISTS students(
   student_id serial PRIMARY KEY,
   name VARCHAR(50) NOT NULL,
   age INT
   
);'''

'''
CREATE TABLE IF NOT EXISTS subjects(
   subject_id serial PRIMARY KEY,
   subject_name VARCHAR(50) NOT NULL
);

'''

'''
CREATE TABLE IF NOT EXISTS student_subject(
    student_subject_id serial PRIMARY KEY,
    subject_id int,
    student_id int,
    
    FOREIGN KEY (subject_id)
       REFERENCES subjects (subject_id),
    FOREIGN KEY (student_id)
       REFERENCES students (student_id)
);
'''

'\nCREATE TABLE IF NOT EXISTS student_subject(\n    student_subject_id serial PRIMARY KEY,\n    subject_id int,\n    student_id int,\n    \n    FOREIGN KEY (subject_id)\n       REFERENCES subjects (subject_id),\n    FOREIGN KEY (student_id)\n       REFERENCES students (student_id)\n);\n'

In [2]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import Column, Integer, String, ForeignKey, within_group
#from sqlalchemy import in
Base = declarative_base()

C:\Users\38096\AppData\Local\Temp\ipykernel_536\1098074355.py:7: MovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
from dotenv import load_dotenv
import os

load_dotenv()

pwd = os.environ["pwd"]

In [4]:
DATABASE_URI = f'postgresql://postgres:{pwd}@localhost:5432/postgres'


engine = create_engine(
    DATABASE_URI.format(
        host='localhost',
        database='postgres',
        user='postgres',
        password=pwd,
        port=5432,
    )
)

In [5]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

session = Session()

In [6]:
class Student(Base):
    __tablename__ = 'students'
    
    student_id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    
    def __str__(self):
        return f'{self.student_id} {self.name} {self.age}'
    
    def __repr__(self):
        return f'{self.student_id} {self.name} {self.age}'

In [7]:
class Subject(Base):
    __tablename__ = 'subjects'
    
    subject_id = Column(Integer, primary_key=True)
    subject_name = Column(String)
    
    def __str__(self):
        return f'{self.subject_id} {self.subject_name}'
    
    def __repr__(self):
        return  f'{self.subject_id} {self.subject_name}'

In [8]:
class StudSub(Base):
    __tablename__ = 'student_subject'
    
    student_subject_id = Column(Integer, primary_key=True)
    subject_id = Column(Integer, ForeignKey('students.student_id'))
    student_id = Column(Integer, ForeignKey('subjects.subject_id'))
    
    def __str__(self):
        return f'{self.student_subject_id} {self.subject_id} {self.student_id}'
    
    def __repr__(self):
        return f'{self.student_subject_id} {self.subject_id} {self.student_id}'

names = ['Bae', 'Eddy', 'Lily', 'Jenny']
ages = [18, 21, 22, 19]

for n, a in zip(names, ages):
    student = Student(name=n, age=a)
    session.add(student)
#session.commit()

subs = ['English', 'Spanish', 'Chinese', 'Math']
for s in subs:
    session.add(Subject(subject_name=s))
#session.commit()

sub_id = [1, 2, 3, 1, 4]
stud_id = [1, 1, 2, 3, 4]
for sub, stud in zip(sub_id, stud_id):
    session.add(StudSub(subject_id=sub, student_id=stud))
session.commit()

In [9]:
session.query(Student).all()

[1 Bae 18,
 2 Eddy 21,
 3 Lily 22,
 4 Jenny 19,
 5 Bae 18,
 6 Eddy 21,
 7 Lily 22,
 8 Jenny 19]

In [10]:
session.query(Subject).all()

[1 English, 2 Spanish, 3 Chinese, 4 Math]

In [11]:
session.query(StudSub).all()

[1 1 1, 2 2 1, 3 3 2, 4 1 3, 5 4 4]

In [12]:
eng_id = session.query(Subject.subject_id).filter(Subject.subject_name == 'English').all()
eng_id

[(1,)]

In [51]:
eng_id = eng_id[0][0]

In [57]:
stud_ids = session.query(StudSub.student_id).filter(StudSub.subject_id == eng_id)#.all
#stud_ids

In [58]:
stud_ids = [i[0] for i in stud_ids]
stud_ids

[1, 3]

In [59]:
stud_names = session.query(Student.name).filter(Student.student_id.in_(stud_ids))#.all()
stud_names = [i[0] for i in stud_names]
stud_names

['Bae', 'Lily']