In [35]:
import random
import csv
import pandas as pd

In [18]:
def write(file_name, header, data):
    with open(file_name, mode='w') as file:
        writer = csv.writer(file)
        writer.writerow(header)
        writer.writerows(data)

## Task 1

Write a program that will simulate user score in a game. Create a list with 5 player's names. After that simulate 100 games for each player. As a result of the game create a list with player's name and his score (0-1000 range). And save it to a CSV file. File should looks like this:
 ```
    Player name, Score
    Josh, 56
    Luke, 784
    Kate, 90
    Mark, 125
    Mary, 877
    Josh, 345
    ...
 ```

In [19]:
players = ('Rick', 'Morty', 'Summer', 'Beth', 'Jerry')
data = tuple((name, *random.sample(range(1001), k=100)) for name in players)
header = ('Player', ) + tuple('Game_' + str(i) for i in range(1, 101))
write('scores.csv', header, data)

## Task 2

Write a script that reads the data from previous CSV file and creates a new file called high_scores.csv where each row contains the player name and their highest score. Final score should sorted by descending of highest score

The output CSV file should look like this:

    
    Player name, Highest score
    Kate, 907
    Mary, 897
    Luke, 784
    Mark, 725
    Josh, 345

In [21]:
data = []
with open('scores.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        if row and row[1] != ' Game_1':
            name = row[0]
            scores = tuple(map(int, row[1:]))
            data += [(name, max(scores))]
data.sort(key=lambda x: x[1], reverse=True)
header = ('Player', 'Highest_score')
write('highest_score.csv', header, data)

## Task 3

Зчитати файл hw.csv і визначити середні зріст і вагу в метричних одиницях вимірювання

In [34]:
# Спосіб 1: csv library
height = []
weight = []
with open('hw.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        if row and row[0] != "Index":
            height += [float(row[1]) * 0.0254]
            weight += [float(row[2]) * 0.45359237]
mean = lambda x: round(sum(x)/len(x), 2)
print(f"Середній зріст: {mean(height)} м",
      f"Середня вага: {mean(weight)} кг",
      sep='\n')

Середній зріст: 1.73 м
Середня вага: 57.64 кг

In [38]:
# Спосіб 2: pandas library
data = pd.read_csv('hw.csv', header=0, index_col=0)
data.head()

        "Height(Inches)"   "Weight(Pounds)"
Index
1               65.78331           112.9925
2               71.51521           136.4873
3               69.39874           153.0269
4               68.21660           142.3354
5               67.78781           144.2971

In [44]:
h = round((data.iloc[:, 0] * 0.0254).mean(), 2)
w = round((data.iloc[:, 1] * 0.45359237).mean(), 2)
print(f"Середній зріст: {h} м",
      f"Середня вага: {w} кг",
      sep='\n')

Середній зріст: 1.73 м
Середня вага: 57.64 кг